# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment variables (THE MOST IMPORTANT PART)
.env

# Debugging
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# OS metadata
.DS_Store
Thumbs.db


